html{
    background-color: #F2EFE7;
}
#tit{
    color: #48A6A7;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
}
#engineer{
    color: #123458;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    border: 1px solid #123458;

    border-radius: 20px;
    margin-left: 455px;
    margin-right: 455px;
    
}
#project{
    color: rgb(70, 124, 4);
    font-family: "Amita", serif;
    font-weight: 400;
}